#main {
	margin-top: 50px;
}

.container-main {
	padding-top: 60px;
}

#loading {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(200, 200, 200, 0.8);
}

.radio-inline label:not(:last-child) {
	padding-right: 10px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.productBox {
	border: 2px solid #D3D3D3;
	border-radius: 5px;
	padding: 10px;
	box-shadow: 2px 2px 5px #D3D3D3;
}
.outerProductBox {
	padding: 5px;
}
.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    overflow: hidden;
}

.caption h4 {
}

.thumbnail img {
    max-height: 200px;
}

.ratings {
  padding-right: 10px;
  padding-left: 10px;
  color: #d17581;
}

#ratingOuterBox {
	margin-bottom: 15px;
	height: 25px;
}

#ratingHintViewer {
	height: 25px;
	line-height: 25px;
	font-size: 25px;
}
.ratingPreClick:hover > i {
	color: black;
}
.star-on-png, .star-half-png {
	color: rgb(255,183,0);
}
.allProductStars {
	width: 10px;
}
.star-on-png, .star-off-png, .star-half-png {
  font-size: 1em;
}
.bigStar {
	font-size: 1.5em;
}
.rating-text {
	position: absolute;
	right: 24px;
}
.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 50px 0;
}