body {
}
h1, h2, h3, .title {
    font-family: 'Lobster', Georgia, Times, serif;
}
 
p, h4, h5, h6, .content {
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
}

#topBox {
    height:400px;
    margin-bottom: 0;
}

.navbar-alex {
	/*background: none !important;*/
	background-color: rgba(255,255,255,1)/* !important*/;
	/*background-image: linear-gradient(
		rgba(255,255,255,1),
		rgba(255,255,255,0)
		)!important;*/
	border: none;
	/*height: 100px;*/
}

.dropdown-menu {
	border: none;
}
.list-group-item:first-child {
	border-radius: 0px;

}

#main {
	margin-top: 75px;
}

.radio-inline label:not(:last-child) {
	padding-right: 10px;
}

@media (min-width: 768px) {
	.dropdown:hover .dropdown-menu {
	    display: block;
	}
}
.thumbnail {
	border: none;
}
.thumbnail img {
    max-height: 200px;
}

h4 > a, h5 > a {
	color: black;
}

.ratings {
  padding-right: 10px;
  padding-left: 10px;
  color: #d17581;
}

#ratingOuterBox {
	margin-bottom: 15px;
	height: 25px;
}

.targetSelector {
	height: 25px;
	line-height: 25px;
	font-size: 25px;
}
.ratingPreClick:hover > i {
	color: black;
}
.star-on-png, .star-half-png {
	color: rgb(255,183,0);
}
.allProductStars {
	width: 10px;
}
.star-on-png, .star-off-png, .star-half-png {
  font-size: 1em;
}
.bigStar {
	font-size: 1.5em;
}
.rating-text {
	position: absolute;
	right: 24px;
}
.thumbnail {
    padding: 0;
}
.helpful {
	font-size: .8em;
}
.reviewText {
	font-size: 1.2em;
}
.reviewPerson {
	margin-bottom: 10px;
}
.btn-hover-success:hover {
	background-color: #5cb85c;
	border-color: #4cae4c;
}
.btn-hover-warning:hover {
	background-color: #f0ad4e;
	border-color: #eea236;
}
.thumb {
	padding: 0;
	padding-left: 5px;
}
.thumb-success:hover {
	color: #2ecc71;
}
.thumb-warning:hover {
	color: #e67e22;
}

.edit-buttons, .remove-buttons {
	margin-right: 5px;
	padding: 0;
}
.edit-buttons {
	color: black;
}
.remove-buttons {
	color: red;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 50px 0;
}